<%- include('../partials/header') %>
<section>
    <div>Brand</div>
    <div><%= product.brand %> </div>
    <div>Kind</div>
    <div><%= product.kind %></div>
    <div>Description</div>
    <div><%= product.description %> </div>
</section>

<%- include('../partials/footer') %>